In [1]:
import pandas as pd

In [2]:
my_df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

my_df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
my_df[my_df == "Chicken Salad Bowl"]

      order_id  quantity           item_name choice_description item_price
0          NaN       NaN                 NaN                NaN        NaN
1          NaN       NaN                 NaN                NaN        NaN
2          NaN       NaN                 NaN                NaN        NaN
3          NaN       NaN                 NaN                NaN        NaN
4          NaN       NaN                 NaN                NaN        NaN
...        ...       ...                 ...                ...        ...
4617       NaN       NaN                 NaN                NaN        NaN
4618       NaN       NaN                 NaN                NaN        NaN
4619       NaN       NaN  Chicken Salad Bowl                NaN        NaN
4620       NaN       NaN  Chicken Salad Bowl                NaN        NaN
4621       NaN       NaN  Chicken Salad Bowl                NaN        NaN

[4622 rows x 5 columns]

In [5]:
my_df[my_df == "Chicken Salad Bowl"].count()

order_id                0
quantity                0
item_name             110
choice_description      0
item_price              0
dtype: int64

In [7]:
my_df[my_df["quantity"] > 4]

,order_id,quantity,item_name,choice_description,item_price
2441,970,5,Bottled Water,NaN,$7.50
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3599,1443,7,Bottled Water,NaN,$10.50
3887,1559,8,Side of Chips,NaN,$13.52
4152,1660,10,Bottled Water,NaN,$15.00

In [8]:
my_df[my_df["quantity"] > 4]["item_name"]

2441                   Bottled Water
3598    Chips and Fresh Tomato Salsa
3599                   Bottled Water
3887                   Side of Chips
4152                   Bottled Water
Name: item_name, dtype: str

In [11]:
my_df[(my_df["quantity"] > 4) | (my_df["quantity"] < 2)]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [12]:
len(my_df[(my_df["quantity"] > 4) | (my_df["quantity"] < 2)])

4360

In [22]:
my_df[(my_df["quantity"] < 2) & (my_df["order_id"] < 30)]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
...,...,...,...,...,...
61,28,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Cheese]",$9.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
63,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75
64,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99
65,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$8.99