In [13]:
import numpy as np
import pandas as pd
from numpy.random import randn
import string

In [14]:
my_data = randn(4, 5)

rows = np.random.choice(list(string.ascii_uppercase), 4)
cols = ['Monday', 'Tuesday', 'Wednesday', 'wednesday', 'Friday']

df = pd.DataFrame(my_data, rows, cols)
df

     Monday   Tuesday  Wednesday  wednesday    Friday
N  1.076788  0.109067  -0.386394   0.231425 -0.051619
Q -0.097087 -0.959122   0.700408  -0.298331 -0.421391
V -0.710587 -1.764096   0.970947  -0.226128 -0.845695
Q -0.700313 -0.412704  -1.283072  -0.874482  0.970803

In [18]:
df.loc[["N", "Q"]]

     Monday   Tuesday  Wednesday  wednesday    Friday
N  1.076788  0.109067  -0.386394   0.231425 -0.051619
Q -0.097087 -0.959122   0.700408  -0.298331 -0.421391
Q -0.700313 -0.412704  -1.283072  -0.874482  0.970803

In [19]:
geo_df = pd.read_csv("geoservices.csv")
geo_df

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude,ID
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"3666, 21st Street, Noe Valley, San Francisco, ...",37.756650,-122.429405,1
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"735, Dolores Street, Duboce Triangle, San Fran...",37.757827,-122.425392,2
2,"332 Hill St, San Francisco, California 94114...",San Francisco,California 94114,USA,Super River,25,"332, Hill Street, Noe Valley, San Francisco, C...",37.755836,-122.428832,3
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"3995, 23rd Street, Noe Valley, San Francisco, ...",37.752965,-122.431714,4
4,"1056 Sanchez St, San Francisco, California, ...",San Francisco,California,USA,Sanchez,12,"1056;1058;1060;1062, Sanchez Street, Noe Valle...",37.752144,-122.429977,5
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"551, Alvarado Street, Noe Valley, San Francisc...",37.753565,-122.433249,6

In [20]:
geo_df["Address"]

0        3666 21st St,  San Francisco,  CA 94114,  USA
1      735 Dolores St,  San Francisco,  CA 94119,  USA
2    332 Hill St,  San Francisco,  California 94114...
3        3995 23rd St,  San Francisco,  CA 94114,  USA
4    1056 Sanchez St,  San Francisco,  California, ...
5     551 Alvarado St,  San Francisco,  CA 94114,  USA
Name: Address, dtype: str

In [21]:
geo_df.loc[[0, 3]]

,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude,ID
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"3666, 21st Street, Noe Valley, San Francisco, ...",37.756650,-122.429405,1
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"3995, 23rd Street, Noe Valley, San Francisco, ...",37.752965,-122.431714,4